
<h3>The classification Model is built and saved in 'data_class/' directory!</h3>
<p></p>
<form action='/testclassification'>
  <button type="submit" class="btn">Test classification!</button>
</form>
