
<h3>The classification Model is built and saved in 'data_class/' directory!</h3>
<p></p>
<h3>Using my implementation of the NaiveBayesModel</h3>
      <p>Time1  :  $totalTime1</p>
<h3>Using NaiveBayesModel MLlib from Spark</h3>
      <p>Time2  :  $totalTime2</p>
<form action='/testclassification'>
  <button type="submit" class="btn">Test classification!</button>
</form>
