<h2>TESTING RESULTS</h2>

        <p>True Positive  :  $truePos</p>
        <p>False Positive :  $falsePos</p>
        <p>False Negative :  $falseNeg</p>
        <p>True Negative  :  $trueNeg</p>
        <p>Accuracy   :  $accuracy</p>
        <p>Precision  :  $precision</p>
        <p>Recall     :  $recall</p>

<form action='/testsingle'>
  <button type="submit" class="btn">Try test for another email</button>
</form>
